.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 5px; /* Reduced padding */
  color: white;
  min-height: 100px; /* Reduced height */
}

.search-bar {
  margin: 5px 0; /* Reduced margin */
}

.search-bar input {
  padding: 8px; /* Slightly reduced padding */
  width: 300px;
  font-size: 16px;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.character-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  background-color: #f9f9f9;
}

.character-card img {
  width: 100%;
  border-radius: 8px;
}

.character-card h3 {
  margin: 10px 0 5px;
}

.character-card p {
  margin: 5px 0;
}